<form action="/form" method="POST">
<input type="text" name="name" placeholder="Full Name">
<input type="text" name="mobile" placeholder="Mobile Number">
<input type="text" name="college" placeholder="College Name">
<input type="submit">